<ion-header>
  <ion-toolbar>
    <p style="text-align: center; margin-top: 6px; margin-bottom: 0px;">
      <ion-icon color="light" style="font-size: 38px; position: absolute; left: 0; top: 12px;color:white !important" 
      name="chevron-back-circle-outline" (click)="regresar()" ></ion-icon>
      <ion-text color="dark">
        <h4 style="color:white !important">Reporte de alumbrado público</h4>
      </ion-text>
    </p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="step1Form" *ngIf="currentStep === 0">
    <ion-list>

    
          <ion-item>
            <ion-text color="tertiary" style="text-align: center; color: #3f49ab; font-weight: bold;">
              <h5 style="margin-top: 4px;font-weight: bold;">REGISTRO DIRECCIÓN</h5>
            </ion-text>    
            <!-- <ion-button (click)="startRecording()" > 
              GRABAR PEEE
            </ion-button> -->
          </ion-item>
    
          <ion-item>
            <ion-label color="dark" position="stacked" style="margin-bottom: 10px;"  >Dirección de la ocupación irregular</ion-label>
            <ion-input formControlName="direccionalerta" class="input-redondeado" ></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label color="dark" position="stacked" style="margin-bottom: 10px;"  >Referencia a la dirección</ion-label>
            <ion-input formControlName="referenciadireccion" class="input-redondeado" ></ion-input>
          </ion-item> 
    

       
          <ion-item>
            <ion-label color="dark" position="stacked" style="margin-bottom: 10px;"  >Seleccionar punto en el mapa de la ocupación irregular</ion-label>
            
            <!-- <div *ngIf="mapLoaded" > -->
              <div #contenidomapa id="contenidomapa" style="height: 300px;width: 100%;">
    
              </div>
            <!-- </div> -->
          
          </ion-item> 
    






    </ion-list>
  </form>

  <form [formGroup]="step2Form" *ngIf="currentStep === 1">
    <ion-list>

      <ion-item>
        <ion-text color="tertiary" style="text-align: center; color: #3f49ab; font-weight: bold;">
          <h5 style="margin-top: 4px;font-weight: bold;">Fotografía y/o audio</h5>
        </ion-text>    
      </ion-item>


      <!-- <ion-item>
        <ion-label color="dark" position="stacked" style="margin-bottom: 10px;"  >Foto real</ion-label>
        <ion-button color="secondary" style="width: 100%;" shape="round"><ion-icon name="camera-outline"></ion-icon> Agregar fotografía</ion-button>
      </ion-item> -->

      <ion-item   >
        
        <ion-chip outline class="sectionfoto ion-color" style="width: 100%;" (click)="selectImageSource()" >
          <input
          type="file"
          hidden="true" 
          #fileInput
          accept="image/*"
          />
          <ion-label id="lblestadosubida" style="width: 90%;"   >Agregar fotografía&nbsp;&nbsp;</ion-label>
          <ion-icon name="camera-outline"  ></ion-icon>
          <ion-icon id="iconcheck"  name="checkmark-outline" style="display:none;" ></ion-icon>
        </ion-chip>
  
        <ion-chip id="sectionclear" outline   class="ion-color ion-color-danger" style="display:none"   >
          <ion-icon name="close-outline" style="margin:0;" ></ion-icon>
        </ion-chip>
      </ion-item>

      <!-- *ngif="imagenesCargadas.length > 0" -->
      <ion-item  >
        <ion-list>
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="imagenes"  *ngFor="let item of imagenesCargadas;let i = index" >
                <ion-img class="imagencargadaunica" [src]="item.urlimagen" ></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
      </ion-item>

      <ion-item>
        <ion-label color="dark" position="stacked" style="margin-bottom: 10px;"  >Observaciones</ion-label>
        <ion-textarea formControlName="observacionalerta" placeholder="Escribe tu mensaje aquí" rows="4" ></ion-textarea>
      </ion-item>

      <!-- <ion-item>
        <ion-text color="tertiary" style="text-align: center; color: #3f49ab; font-weight: bold;">
          <h5 style="margin-top: 4px;font-weight: bold;margin-bottom: 0px;">Si desea envie una grabación de audio:</h5>
          <small color="danger" style="color:red;">(Máximo 30 segundos )</small>
        </ion-text>    
      </ion-item>

      <ion-item>
        
        <ion-button fill="outline"><ion-icon name="mic-outline" ></ion-icon></ion-button>
        <ion-range (ionChange)="onIonChange($event)"></ion-range>
        <ion-button fill="outline"><ion-icon name="stop-outline"></ion-icon></ion-button>

      </ion-item> -->
    </ion-list>
  </form>

  <ion-button (click)="submit()" *ngIf="currentStep === 1" disabled="{{loading}}"  expand="block" shape="round" color="success">Enviar</ion-button>
  <ion-button (click)="nextStep()" *ngIf="currentStep < 1" expand="block" shape="round" color="success">Continuar</ion-button>
  <ion-button (click)="previousStep()" *ngIf="currentStep > 0" style="margin-top: 10px;" expand="block" shape="round" color="tertiary">Atras</ion-button>
  <ion-button (click)="cancelar()" *ngIf="currentStep === 0" style="margin-top: 10px;" expand="block" shape="round" color="danger">Cancelar</ion-button>

</ion-content>