<ion-card>
  <ion-card-header>
    <ion-card-title style="text-align: center; font-size: 23px; font-weight: bold;" >Auxilio rápido</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          
          <img alt="Silhouette of mountains" src="https://img2.freepng.es/20190807/sbq/kisspng-police-station-police-officer-police-precinct-tran-5d4a57667e9ff6.2933675415651531265187.jpg" />
        </ion-thumbnail>
        <ion-label>Comisaria</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://img.lovepik.com/free-png/20210926/lovepik-alert-icon-png-image_401472810_wh1200.png" />
        </ion-thumbnail>
        <ion-label>Alerta</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://seeklogo.com/images/S/sistema-nacional-de-defensa-civil-logo-766D5A7640-seeklogo.com.png" />
        </ion-thumbnail>
        <ion-label>Defensa Civil</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://www.clipartmax.com/png/middle/302-3020676_camion-de-bomberos.png" />
        </ion-thumbnail>
        <ion-label>Bomberos</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://assets.stickpng.com/thumbs/5afac8866554160a79bea11f.png" />
        </ion-thumbnail>
        <ion-label>Ambulancia</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>