<ion-header>
  <ion-toolbar>

    <p style="text-align: center; margin-top: 6px; margin-bottom: 0px;">
      <ion-icon (click)="cerrarModal()" color="medium" style="font-size: 38px; position: absolute; left: 0; top: 20px;" 
      name="chevron-back-circle-outline"></ion-icon>
      <img style="width: 45%;" src="/assets/imagenes/NUEVO_2023-1.png" alt=""></p>

      <p style="text-align: center; margin-top: 6px; margin-bottom: 0px;">
        <img style="width: 100%;" src="/assets/imagenes/alerta_carmelino.png" alt=""></p>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        <p style="margin-bottom: 0;" >
          <img style="width: 61%;" (click)="llamarEmergencia('015621044')" src="/assets/imagenes/comisaria_icono.png" alt="">

        </p>
        
        <ion-text color="dark">
          <h2 style="margin-top: 0;" >Comisaria</h2>
        </ion-text>


      </ion-col>
      <ion-col style="text-align: center;"  >
          <p style="margin-bottom: 0;" >
            <img style="width: 61%;" (click)="llamarEmergencia('940485104')" src="/assets/imagenes/ambulancia_icono.png" alt="">
          </p>
          <ion-text color="dark">
            <h2 style="margin-top: 0;">Ambulancia</h2>
          </ion-text>
      </ion-col>
    
    </ion-row>

    <ion-row>

      <ion-col style="text-align: center;"  >
        <p style="margin-bottom: 0;" >
          <img style="width: 61%;" (click)="llamarEmergencia('015748197')" src="/assets/imagenes/bombero_icono.png" alt="">
        </p>
        <ion-text color="dark">
          <h2 style="margin-top: 0;">Bombero</h2>
        </ion-text>
    </ion-col>


    <ion-col style="text-align: center;"  >
        <p style="margin-bottom: 0;" >
          <img style="width: 61%;" data-pepe="numeroEmergenciaSerenazgo" (click)="llamarEmergencia('933296325')" src="/assets/imagenes/serenazgo_icono.png" alt="">
        </p>
        <ion-text color="dark">
          <h2 style="margin-top: 0;">Serenazgo</h2>
        </ion-text>
    </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
