ion-header {
    background-color: #007aff; /* Fondo azul */
    color: #ffffff; /* Letras blancas */
  }

  ion-toolbar {
    --background: #007bff; /* Fondo azul */
    color: #ffffff !important; /* Letras blancas */
  }