<ion-header>
  <ion-toolbar>

    <p style="text-align: center; margin-top: 6px; margin-bottom: 0px;">
      <ion-icon color="medium" style="font-size: 38px; position: absolute; left: 0; top: 20px;"   (click)="regresar()" name="log-out-outline"></ion-icon>
      <img style="width: 45%;" src="/assets/imagenes/NUEVO_2023-1.png" alt="">
    </p>

      <p style="text-align: center; margin-top: 6px; margin-bottom: 0px;">
        <img style="width: 100%;" src="/assets/imagenes/alerta_carmelino.png" alt=""></p>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        <p style="margin-bottom: 0;" >
          <img style="width: 61%;" (click)="seleccionVecinoVigilante()" src="/assets/imagenes/vecinos vigilantes.png" alt="">

        </p>
        
        <ion-text color="dark">
          <h4 style="margin-top: 0;" >Vecinos vigilantes</h4>
        </ion-text>


      </ion-col>
      <ion-col style="text-align: center;"  >
          <p style="margin-bottom: 0;" >
            <img style="width: 61%;"   src="/assets/imagenes/alerta.png" alt="">
          </p>
          <ion-text color="dark">
            <h4 style="margin-top: 0;">Reporta alerta</h4>
          </ion-text>
      </ion-col>
    
    </ion-row>

    <ion-row>

      <ion-col style="text-align: center;"  >
        <p style="margin-bottom: 0;" >
          <img style="width: 61%;"   src="/assets/imagenes/servicios_.png" alt="">
        </p>
        <ion-text color="dark">
          <h4 style="margin-top: 0;">Servicios</h4>
        </ion-text>
    </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
