<ion-header>
  <ion-toolbar>

    <p style="text-align: center; margin-top: 6px; margin-bottom: 0px;">
      <img style="width: 45%;" src="/assets/imagenes/NUEVO_2023-1.png" alt="">
    </p>

      <p style="text-align: center; margin-top: 6px; margin-bottom: 0px;">
        <img style="width: 100%;" src="/assets/imagenes/alerta_carmelino.png" alt=""></p>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{nombrePersona}}</ion-card-title>
      <ion-card-subtitle>({{perfilUsuario}})</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <!-- Here's a small text description for the card content. Nothing more, nothing less. -->
      <!-- <ion-button fill="outline" expand="full" (click)="cerrarSesion()">Cerrar sesión</ion-button>
      <ion-button expand="block">Block</ion-button> -->

      <ion-grid>
        <ion-row>
          <ion-col><ion-button  color="danger" expand="block" (click)="cerrarSesion()">Cerrar sesión</ion-button></ion-col>
     
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>
