.alert-radio-label.sc-ion-alert-md{
    padding-left: 52px;
    padding-right: 26px;
    padding-top: 13px;
    padding-bottom: 13px;
    -ms-flex: 1;
    flex: 1;
    color: var(--ion-color-step-850, #262626);
    font-size: 11px;
    /* white-space: nowrap; */
    overflow: hidden;
}